.button {
  border-radius: 50px;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  background: #2e89c5;
  padding: 14px 48px;
  color: #010606;
  font-size: 20px;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  background: #508888;
}
