.footer-container {
  background-color: #101522;
}

.footer-wrap {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-links-container {
  display: flex;
  justify-content: center;
}

.footer-links-wrapper {
  display: flex;
}

.footer-links-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
  color: #fff;
}

.footer-link-title {
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.footer-link:hover {
  color: var(--main-color);
  transition: 0.3s ease-out;
}

.socialmedia {
  max-width: 1000px;
  width: 100%;
}

.socialmedia-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 40px auto 0 auto;
}

.socialmedia-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
}

.footer-logo-icon {
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-left: 14px; */
  height: 24px;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

.socialmedia-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.socialmedia-icon-link {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 420px) {
  .footer-links-items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .footer-links-container {
    padding-top: 32px;
  }
  .footer-links-wrapper {
    flex-direction: column;
  }
  .socialmedia-wrap {
    flex-direction: column;
  }
}
