.sidebar-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: -100%;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 0%;
}

.close-icon {
  color: #fff;
}

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.sidebar-wrapper {
  color: #fff;
}

.sidebar-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.sidebar-link:hover {
  color: #2e89c5;
  transition: 0.2s ease-in-out;
}

.side-btn-wrap {
  display: flex;
  justify-content: center;
}

.sidebar-route {
  border-radius: 50px;
  background: #2e89c5;
  white-space: nowrap;
  padding: 16px 64px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.sidebar-route:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

@media screen and (max-width: 480px) {
  .sidebar-menu {
    grid-template-rows: repeat(6, 60px);
  }
}
